@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: sans-serif;
}
.b{
    background-image: url("https://images.pexels.com/photos/3615231/pexels-photo-3615231.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
